#header {
    background-color: #ea0a8e;
}
mat-toolbar-row {
    text-align: center;
    display: block;
    font-size: 300%;
    line-height: 1.5em;
    height: 1.5em;
    font-family: 'Times New Roman', Times, serif;
}